/*------------------------------------*\
    Button
\*------------------------------------*/
/**
 * Button
 * @see https://github.com/suitcss/button/blob/master/button.css
 *
 * Build on this component using rulesets in your application-level CSS.
 *
 * 1. Corrects inability to style clickable `input` types in iOS
 * 2. Normalize `box-sizing` across all elements that this component could be
 *    applied to.
 * 3. Inherit text color from ancestor.
 * 4. Inherit font styles from ancestor.
 * 5. Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+.
 * 6. Prevent button text from being selectable.
 * 7. Prevent wrapping across multiple lines.
 */
.Button {
  position: relative;
  display: inline-block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 2 */
  padding: 0.4em 0.75em;
  border: 1px solid;
  background: transparent;
  color: inherit;
  /* 3 */
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  /* 7 */
  font: inherit;
  /* 4 */
  line-height: normal;
  /* 5 */
  cursor: pointer;
  -webkit-appearance: none;
  /* 1 */
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* 6 */
}

/**
 * UI states
 */
.Button:hover,
.Button:focus,
.Button:active {
  text-decoration: none;
}

.Button:disabled,
.Button.is-disabled {
  cursor: default;
}

/**
 * Remove excess padding and border in Firefox 4+
 */
.Button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/**
 * Modifier: full-width buttons
 */
.Button--full {
  display: block;
  width: 100%;
}
