/*------------------------------------*\
    Flag
\*------------------------------------*/

/**
 * Flag
 * @see http://csswizardry.com/2013/05/the-flag-object/
 */

.Flag {}

.Flag-image {
  display: table-cell;
  padding-right: 10px;
  > img {
    display: block;
  }
}

.Flag-image,
.Flag-body {
  display: table-cell;
  vertical-align: middle;
  .Flag--top & {
    vertical-align: top;
  }
  .Flag--bottom & {
    vertical-align: bottom;
  }
}

.Flag-image {
  padding-right: 10px;
  > img {
    display: block;
  }
  .Flag--rev & {
    padding-right: 0;
    padding-left: 10px;
  }
}

.Flag-body {
    width: 100%;
}