<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Heading</title>
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="/core/master.css">
<link rel="stylesheet" href="/sample/sample.css">
<link rel="stylesheet" href="/sample/prism.css">
<link rel="stylesheet" href="heading.css">
</head>
<body>
<h1 class="cuirass-name">
<div class="cuirass-container">
Heading
</div>
</h1>
<div class="cuirass-canvas">
<div class="cuirass-container">
<div class="Heading">
	<h2 class="mega"><b>Heading</b></h2>
</div>
</div>
</div>

<div class="cuirass-code">

<h2 class="cuirass-section-name">
<div class="cuirass-container">
Markup
</div>
</h2>

<pre class="cuirass-container"><code class="language-markup">markup</code></pre>

<h2 class="cuirass-section-name">
<div class="cuirass-container">
CSS
</div>
</h2>

<pre class="cuirass-container"><code class="language-css">css</code></pre>
</div>

<script src="/sample/holder.min.js"></script>
<!-- Syntax Highlight -->
<script src="/sample/prism.min.js"></script>
</body>
</html>