/*------------------------------------*\
    Heading
\*------------------------------------*/

/**
 * Heading
 */

.Heading {
	position: relative;
	display: block;
  padding: 0.4em 0.75em;
  // background-color: #CCC;
  color: inherit;
}